</ul>
</p>
<p>
    Pour toutes informations complémentaires sur la visioconférence (Résident, Invité, etc...), veuillez vous connecter à 
    votre compte VisioPad en cliquant juste <a href="">ici</a> ou en vous rendant directement sur le site VisioPad via 
    le lien suivant <a href="">Insérez le lien</a>
</p>
<p>
    Si vous avez des problèmes avec le lien de la visioconférence, veuillez nous contacter à l'adresse suivante : 
    <a href="mailto:visiopad@outlook.com">visiopad@outlook.com</a>
</p>
<p>Cordialement,<br/>L'équipe <b>VisioPad</b></p>

<i>Ceci est un mail automatique envoyé par l'application VisioPad veuillez ne pas répondre.</i>
</section>
</main>
</body>