<body>
    <style>
        body{width: 70%;margin: auto;height: 500px;}
        header{margin-bottom: 25px;}
        main{margin-bottom: 0;width: 100%;}
        .content{width: 90%;}
        h6{margin-top: 25px;}
        img{margin-right: auto;margin-left: auto;}
        .red{color: red;}
    </style>
    <main>
        <header>
            <h1>Rappel de Rendez-vous</h1>
        </header>
        <section class="content">
            <h4>Bonjour,</h4>
            <p> Nous vous envoyons ce mail afin de vous rappeler que vous avez planifié un rendez-vous au sein d'un EHPAD.</p>
            <p>
                Voici les informations concernant le rendez-vous :
                <ul>