.resident {
    margin-top: 30px;
    text-align: center;
}

.resident p {
    font: bold italic large serif;
    font-size: xx-large;
}

table {
    margin-top: 20px;
    width: 100%;
    text-align: center !important;
}

.mat-header-cell {
    text-align: center;
}