<div class="mesrdv">
  <p>Mes rendez-vous</p>
</div>

<!--Si non connecté-->
<ng-container *ngIf="!(authService.user$ | async)">
  <div class="mesrdvs">
    <p>Pour consulter vos rendez-vous, vous devez être connecté(e)!</p>
    <p>Pour cela, cliquez <a class="link" [routerLink]="['/', AppRoutingEnum.ChoosePortal]">ici</a></p>
  </div>
</ng-container>

<!--Si connecté-->
<ng-container *ngIf="(authService.user$ | async)">
  <!--Si pas encore de rdv pris-->
  <ng-container *ngIf="presencerdv">
    <div class="mesrdvs">
      <p>Vous n'avez pas encore réservé de rendez-vous.</p>
      <p>Pour commencer une réservation, cliquez <a class="link"
          [routerLink]="['/', AppRoutingEnum.Rendezvous]">ici</a>.
      </p>
    </div>
  </ng-container>

  <!--Si rdv pris-->
  <ng-container *ngIf="!presencerdv">
    <ng-container *ngFor="let rdv of rendezvous; let i = index">
      <mat-card class="rdv">
        <mat-card-header>
          <mat-card-title>
            <mat-icon>event</mat-icon> Rendez-vous le {{rdv.dateRDV}}
            <mat-icon>query_builder</mat-icon> à {{rdv.heureRDV}}
          </mat-card-title>
          <mat-card-subtitle>Rendez-vous avec {{rdv.nomResident}} {{rdv.prenomResident}}</mat-card-subtitle>
          <mat-card-content class="etatReservation">
            <mat-card-title>
              <!--si rdv réservé-->
              <div class="reserve" *ngIf="etatProgramme(i)">
                <mat-icon>hourglass_empty</mat-icon> Réservé
              </div>
              <!--si rdv validé-->
              <div class="valide" *ngIf="etatValide(i)">
                <mat-icon>event_available</mat-icon> Validé
              </div>
              <!-- si rdv refusé-->
              <div class="refuse" *ngIf="etatRefuse(i)">
                <mat-icon>event_busy</mat-icon> Refusé
              </div>
              <!--si rdv terminé -->
              <div class="termine" *ngIf="etatTermine(i)">
                <mat-icon>sentiment_very_satisfied</mat-icon> Terminé
              </div>
            </mat-card-title>
          </mat-card-content>
        </mat-card-header>
        <div *ngIf="!invitesRDV(i)">
          <mat-card-content>
            <p>
              Invité(e)(s) à ce rendez-vous:
            </p>
            <div class="invite" *ngFor="let invite of rdv.Invites">
              <p>
                {{invite.invite.prenomInvite}} {{invite.invite.nomInvite}}
              </p>
              <p>Adresse e-mail: {{invite.invite.emailInvite}}
              </p>
            </div>
          </mat-card-content>
        </div>
        <!--Affiche seulement si reservation-->
        <ng-container *ngIf="etatProgramme(i)">
          <mat-card-actions>
            <button mat-raised-button color="warn" data-toggle="modal" data-target="#annulerReservation">Annuler la
              réservation</button>
          </mat-card-actions>
        </ng-container>
        <!--Affiche seulement si rdv-->
        <ng-container *ngIf="etatValide(i)">
          <mat-card-actions>
              <button mat-raised-button color="warn" data-toggle="modal" data-target="#annulerRendezVous">Annuler le
                rendez-vous</button>
          </mat-card-actions>
        </ng-container>
      </mat-card>

      <!-- Modal Annuler Réservation-->
      <div class="modal fade" id="annulerReservation" tabindex="-1" role="dialog"
        aria-labelledby="annulerReservationLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="annulerReservationLabel">Confirmation d'annulation de la réservation</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir annuler la réservation?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btnConfirmation">Confirmer l'annulation</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal annuler rendez-vous-->
      <div class="modal fade" id="annulerRendezVous" tabindex="-1" role="dialog"
        aria-labelledby="annulerRendezVousLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="annulerRendezVousLabel">Confirmation d'annulation du rendez-vous</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir annuler le rendez-vous?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btnConfirmation">Confirmer l'annulation</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>