<form>
  <h1>Mentions légales</h1>
  <p><b>
    Vous visitez l'application VisioPad. Les mentions légales qui 
    suivent s'appliquent à tout internaute le visitant. Nous vous remercions d'en prendre 
    connaissance attentivement avant tout accès aux pages.
  </b></p>
  <p>
    Ce site a été créé par <i><b>MIAGE ASMR</b></i> et les informations, fonctionnalités sont uniquement 
    destinées à une présentation institutionnelle et fonctionnelles. 
    <i>MIAGE ASMR</i> se réserve le droit de modifier le contenu à tout moment 
    et ne pourra être tenu responsable des conséquences de telles modifications. 
    L'accès et l'utilisation est soumise aux conditions suivantes. 
    En accédant au site, vous acceptez ces conditions.
  </p>

  <h2>Contenus de VisioPad</h2>

  <p>
    <i>MIAGE ASMR</i> fournit ces informations et fonctionnalités à des fins purement informatives et fonctionnelles et s'efforce de 
    contrôler et de maintenir l'application à jour. Cependant, aucune garantie n'est 
    apportée concernant la vitesse des corrections, mises à jours.
  </p>

  <p>
    Par conséquent, <i>MIAGE ASMR</i> décline toute responsabilité pour tout dommage résultant notamment 
    d'une imprécision ou inexactitude des informations et fonctionnalités disponibles sur VisioPad.
  </p>

  <h2>Droits d'auteur et copyright</h2>

  <p>
    L'ensemble de l'application relève de la <b class="redText">législation française et internationale sur le droit d'auteur et la 
    propriété intellectuelle</b>. Les droits de reproduction sont réservés pour toutes les photographies, images, 
    textes, logos, noms de domaine, documents téléchargeables, etc... Toute utilisation par reproduction,
    modification, téléchargement, transmission ou autre procédé existant présent ou futur est soumise à une autorisation 
    préalable. Seules les copies à usage privé et non-commercial sont autorisées sous 
    réserve des droits de propriété intellectuelle dont il est fait mention.
  </p>

  <p>Seules les copies à usage privé et non-commercial sont autorisées sous réserve du respect des trois conditions suivantes :</p>
    <ul>
      <li>Gratuité de la diffusion ;</li>
      <li>Respect de l'intégrité des documents reproduits : pas de modification ni altération d'aucune sorte ;</li>
      <li>Ajout de façon claire et lisible de la source et de la mention suivante : <b>© MIAGE ASMR – Droits réservés.</b></li>
    </ul>

  <h2>Protection des données à caractère personnel</h2>

  <p>
    Les informations personnelles collectées sont soumises à la loi <b class="redText">"Informatique et libertés" 
    du 6 janvier 1978 modifiée</b>, conformément à laquelle vous disposez d’un droit d’accès, de rectification et 
    d’opposition aux données vous concernant que vous pouvez exercer en contactant :
  </p>

  <p>
    MIAGE ASMR<br/>
    123 rue du Master 1<br/>
    12345 Pays Imaginaire<br/>
    visiopad@outlook.com<br/>
  </p>

  <h2>Liens et création de liens</h2>

  <p>L'application VisioPad autorise la mise en place d’un lien hypertexte pointant vers son contenu sous réserve :</p>

  <ul>
    <li>
      De ne pas utiliser d’éléments du site à l’intérieur d’un autre site par le biais d’inclusions, ou de 
      procédés similaires.
    </li>
    <li>
      De ne pas utiliser la technique de lien pour pointer notamment vers des documents multimédia ou tout autre document, 
      que ceux-ci soient  téléchargeables ou non.
    </li>
  </ul>

  <p>
    Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, 
    pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.
  </p>

  <h2>Juridiction</h2>

  <p>
    Les applications de <i>MIAGE ASMR</i> et leurs contenus sont créés conformément aux règles applicables en France, même 
    s'ils sont accessibles à d'autres utilisateurs francophones.
  </p>
</form>
