h2{
    color: orangered;
    margin-top: 30px;
    font: bold italic x-large serif;
    font-size: x-large;
}

p{ font: large serif;}

h1{
    font: bold italic xx-large serif;
    text-align: center;
}

.redText{
    color: red;
}