<div class="accueil">
    <p>Réservez vos rendez-vous dès à présent avec VisioPad!</p>
    <p>Pour cela, rien de plus simple, il suffit de vous connecter ou de créer un compte!</p>
</div>

<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image1"></div>
                <mat-card-title class="prenom">Madeleine</mat-card-title>
                <mat-card-subtitle class="ville">Provence</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="commentaire">
                <p>
                    VisioPad me permet de pouvoir continuer à voir mes enfants et mes petits-enfants grandir.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image2"></div>
                <mat-card-title class="prenom">Jean</mat-card-title>
                <mat-card-subtitle class="ville">Normandie</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="commentaire">
                <p>
                    Grâce à l'application, je peux garder contact avec des personnes extèrieures à l'établissement, ce
                    qui fait que je me sens moins seul.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image3"></div>
                <mat-card-title class="prenom">Camille</mat-card-title>
                <mat-card-subtitle class="ville">Bordeaux</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="commentaire">
                <p>
                    J'ai qu'une chose à dire, merci VisioPad, grâce à toi, je peux continuer de voir et de discuter avec
                    ma grand-mère, ce qui est très important pour moi.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div class="img">
    <div class="textimg">
        <p>Covid 19 : Protégeons-nous et protégeons les autres. </p>
        <p>Continuons de lutter ensemble, afin de pouvoir à nouveau se retrouver!</p>
    </div>
    <img class="imgcovid" src="../assets/pictures/covid.png" alt="" />
</div>