.aide, .aides{margin-top: 30px;
    text-align: center;
}

.aide p{
    font: bold italic large serif;
    font-size:xx-large;
}

.aides p{
    font: bold italic large serif;
    font-size:x-large;
}

.questions p{
    color: orangered;
    margin-top: 30px;
    font: bold italic large serif;
    font-size:large;
}

.reponses p{
    margin-left: 40px;
    font:  large serif;
    font-size:large;
}

.icone{
    font-size: 30px;
    color: orangered;
}

.link{
    color: darkcyan;
}

.textimg{
    font: bold italic large serif;
    font-size:xx-large;
}

.img{
    margin-top: 30px;
    text-align: center;
}

.imgcovid{
  width: 90%;
  height: auto;
}