<nav class="navbar navbar-expand-md navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <img class="logoAccueil" src="../assets/pictures/logo.png" alt="" />
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" [routerLink]="[AppRoutingEnum.Home]">
          <mat-icon>home</mat-icon><b>Accueil</b>
        </a></li>
      <!--Si c'est un contact de connecté-->
      <ng-container *ngIf="(authService.user$ | async) && !authService.personnel && contact?.verified">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/', AppRoutingEnum.Rendezvous]">
            <mat-icon>book_online</mat-icon><b>Prendre rendez-vous</b>
          </a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/', AppRoutingEnum.MyRendezvous]">
            <mat-icon>event</mat-icon><b>Mes rendez-vous</b>
          </a></li>
      </ng-container>
      <!--Si c'est un personnel de connecté-->
      <ng-container *ngIf="(authService.user$ | async) && authService.personnel">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/', AppRoutingEnum.PlanningPersonnel]">
            <mat-icon>book_online</mat-icon><b>Mon planning de rendez-vous</b>
          </a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/', AppRoutingEnum.ResidentPersonnel]">
            <mat-icon>list</mat-icon><b>Liste de mes résidents</b>
          </a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/', AppRoutingEnum.ListContacts]">
            <mat-icon>create</mat-icon><b>Liste contact à valider</b>
          </a></li>
      </ng-container>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/', AppRoutingEnum.Contact]">
          <mat-icon>call</mat-icon><b>Nous Contacter</b>
        </a></li>
    </ul>
    <form class="form-inline">
      <a class="circle-link" title="Connexion" [routerLink]="['/', AppRoutingEnum.ChoosePortal]" rel="noopener">
        <img class="logoConnexion" src="../assets/pictures/connexion.png" />
      </a>
    </form>
  </div>
</nav>