.redText{color: red;}
form{
    margin-top: 25px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color: orangered;
    margin-top: 30px;
    font: bold italic x-large serif;
    font-size: x-large;
}

p{ font: large serif;}

h1{
    font: bold italic xx-large serif;
    text-align: center;
}